/* Nav photo - circular */
#nav-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border: 3px solid #fff;
  }
  
  #topnav {
    background-color: rgba(175, 175, 175, 0.404);
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#topnav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#topnav a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}